* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(3, 247, 231);
}

.container-galeria {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 100PX 200px 100PX;
    padding: 50px;
    grid-gap: 3px;
}

.conteudo-galeria .img{
    position:relative;
    width: 100%;
    height: 100%;
    align-content:center;
    object-fit: cover;
}



.li-1 {
    grid-row: span 1;
}

.li-2 {
    grid-row: span 2;
}

.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}



@media(max-width: 760px) {
    .container-galeria {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 50vh;
    }

    .li-2 {
        grid-row: span 1;
    }

    .col-2 {
        grid-column: span 1;
    }
}